<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <h2>{{first_name | lower | capfirst}}</h2>
    <h2>{{some_list.0}}</h2>
    <h2>{{some_dict.inside_key}}</h2>
    <!-- This is a comment -->
    <ul>
    {% for item in some_list %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
    <ul>
        {% for k,v in some_dict.items %}
            <li>{{v}}</li>
        {% endfor %}
    </ul>
    {% if user_logged_in and first_name == "Rosaline" %}
        <h1>Welcome back, {{first_name}}!</h1>
    {% endif %}
    {% for num in some_list %}
        {% if num == 2 %}
            <li>The two</li>
        {% else %}
            <li>{{num}}</li>
        {% endif %}
    {% endfor %}
</body>
</html>