{% extends "core/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class="py-6 px-6">
    <h1 class="text-xl">{{ title }}</h1>
    
    {% if team.plan.max_leads > team.leads.count or title == 'Edit Lead' %}
        <form method="post" action=".">
            {% csrf_token %}
            {{form.as_p}}
            <button class="py-4 px-8 bg-teal-500 text-white rounded-xl">Submit</button>
        </form>
    {% else %}
        <div class="px-6 py-4 bg-red-400 rounded-xl text-white">You have reached your team quota!</div>
    {% endif %}
    
</div>

{% endblock content %}